.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #fffdf4;
  position: sticky;
  top: 50px;
 // overflow: hidden;
}
.sidebar-wrapper {
  padding: 20px;
  color: #555;
}

.sidebar-menu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 10px;
  color: rgb(187, 186, 186);
}
.sidebarList {
  list-style: none;
  padding: 5px 8px;
}
.sidebarListItem{
    padding:8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
   &:hover{
        background-color: #fdf8dc;
    }
}
.sidebarListItem.active{
    background-color: #fdf8dc;
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}