.products {
  flex: 4;
  padding: 20px;
  .productsTitle {
    font-weight: 700;
    font-size: 24px;
  }
}

.products-wrapper {
  display: flex;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
  }
}
.buttonWrapper {
  display: flex;
  align-items: center;
  .prod-edit {
    border: none;
    background-color: #94d2bd;
    color: #005f73;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  .delete-icon {
    color: #bb3e03;
    font-size: 24px;
    cursor: pointer;
  }
}
